<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} - ZebraView</title>
    <link href="/static/css/downloaded/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/downloaded/ionicons.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/general.css" rel="stylesheet" />
    {% block css %}
    {% endblock %}

    <script src="/static/js/downloaded/jquery-1.12.4.js"></script>
    <script src="/static/js/downloaded/jquery-ui.js"></script>
    <script src="/static/js/downloaded/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/page_init.js"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body>
{% block outer_content %}

{% set main_menu = [
                    {'name': 'Fishlines', 'key': 'fishline', 'icon': 'pulse'},
                    {'name': 'Stocks', 'key': 'stock', 'icon': 'apps'},
                    {'name': 'Substocks', 'key': 'substock', 'icon': 'list'},
                    {'name': 'Rooms', 'key': 'room', 'icon': 'people'},
                    {'name': 'Racks', 'key': 'rack', 'icon': 'cube'},
                    {'name': 'Positions', 'key': 'position', 'icon': 'flag'}] %}

<nav  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">&#128031;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in main_menu %}
        <li class="nav-item {% if what == item.key %}active{% endif %} mr-lg-1"><a class="nav-link" href="/{{ item.key }}s">
            <span class="icon ion-md-{{ item.icon }}"></span>&nbsp;{{ item.name }}</a></li>
      {% endfor %}
        <li class="nav-item ml-lg-5"><a class="nav-link" href="/admin">
            <span class="icon ion-md-people"></span>&nbsp;Administration</a></li>
    </ul>
    <span class="nav-item navbar-text text-light">
        <span class="icon ion-md-person mr-2"></span>
        <span class="font-weight-bold">{{ request.user.username }}</span>
    </span>
    <a href="/logout" class="btn btn-outline-warning nav-item px-1 ml-3 d-none d-lg-inline" type="button">
        <span class="icon ion-md-exit"></span></a>
    <a href="/logout" class="nav-item text-warning font-weight-bold d-block d-lg-none">
        <span class="icon ion-md-exit mr-2"></span>Log out</a>
  </div>
</nav>

<main role="main" class="flex-shrink-0">
    <div class="container">

    {% block content %}
    {% endblock %}

    </div>
</main>

{% endblock %}
</body>
</html>