{% extends "_base.html" %}

{% block content %}
    <div class="my-4">
        <form action="{{ data.id }}/delete" method="post" class="d-inline-block float-right ml-3 confirm">
            {{ csrf_input }}
            <button type="submit" class="btn btn-danger"><span class="icon ion-md-trash"></span> Delete</button>
        </form>

        <a href="/{{ what }}s/{{ data.id }}/edit" class="float-right btn btn-warning ml-3">
            <span class="icon ion-md-create"></span> Edit</a>

        <a href="/{{ what }}s/new" class="float-right btn btn-primary">
            <span class="icon ion-md-add"></span> New</a>

        <h1>Detail of {{ what }} #{{ data.id }}</h1>
        <table class="table">
            <tbody>
            {% for attr in attr_names %}
                {% if attr == "id" %}
                {% elif attr | startswith('id_') %}
                    <tr><th>{{ attr | nice_attr_name | title }}</th>
                    <td><a href="/{{ attr[3:] }}s/{{ data[attr].id }}">
                        {{ data[attr].name | default(attr[3:]~" #"~data[attr].id) }}</a></td></tr>
                {% elif attr in ["date_of_birth"] %}
                    <tr><th>{{ attr | nice_attr_name | title }}</th><td>{{ data[attr] | datetime("%-d.%-m.%Y") }}</td></tr>
                {% else %}
                    <tr><th>{{ attr | nice_attr_name | title }}</th><td>{{ data[attr] }}</td></tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}