{% extends "_base.html" %}

{% block content %}
    <div class="my-4">
        <h1>{{ page_title }}</h1>
        <form method="post">
            {{ csrf_input }}
            <table class="table">
                {{ form }}
            </table>

            <button type="reset" class="btn btn-outline-warning mr-3">
                <span class="icon ion-md-refresh"></span> Reset</button>
            <button type="submit" class="btn btn-success">
                <span class="icon ion-md-save"></span> Save</button>
        </form>
    </div>
{% endblock %}