{% extends "_base.html" %}

{% block content %}
    <div class="my-4">
        <a href="/{{ what }}s/new" class="float-right btn btn-primary">
            <span class="icon ion-md-add"></span> New</a>
        <h1>List of {{ what }}s</h1>
    {% if not attr_names %}
        <div class="alert alert-info">No {{ what }}s in database.</div>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                {% for key in attr_names %}
                    <th>{{ key | nice_attr_name | title }}</th>
                {% endfor %}
                <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                {% for key in attr_names %}
                    {% if key == 'id' %}
                        <td><a href="/{{ what }}s/{{ row.id }}">#{{ row.id }}</a></td>
                    {% elif key | startswith('id_') %}
                        <td><a href="/{{ key[3:] }}s/{{ row[key].id }}">{{ row[key].name | default(key[3:]~" #"~row[key].id) }}</a></td>
                    {% elif key in ["date_of_birth"] %}
                        <td>{{ row[key] | datetime("%-d.%-m.%Y") }}</td>
                    {% else %}
                        <td>{{ row[key] }}</td>
                    {% endif %}
                {% endfor %}
                    <td class="text-right">
                        <a href="/{{ what }}s/{{ row.id }}/edit" class="btn btn-sm btn-warning" title="edit">
                            <span class="icon ion-md-create"></span></a>

                        <form action="/{{ what }}s/{{ row.id }}/delete" method="post" class="d-inline-block float-right ml-3 confirm">
                            {{ csrf_input }}
                            <button type="submit" class="btn btn-sm btn-danger"><span class="icon ion-md-trash"></span></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}