<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page - ZebraView</title>
    <link href="/static/css/downloaded/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/downloaded/ionicons.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/general.css" rel="stylesheet" />
    {% block css %}
    {% endblock %}

    <script src="/static/js/downloaded/jquery-1.12.4.js"></script>
    <script src="/static/js/downloaded/jquery-ui.js"></script>
    <script src="/static/js/downloaded/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/page_init.js"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body class="bg-light">
<div class="container mt-4">
    <h1>ZebraView</h1>
    <form method="post">
      {{ csrf_input }}
      {{ form.as_p() }}
      <button type="submit" class="btn btn-success">Log in</button>
    </form>
</div>
</body>
</html>