{% extends "_base.html" %}

{% block content %}
    <div class="my-4">
        <h1>Welcome to ZebraView</h1>
        <strong>Go to:</strong>
        <ul>
        {% for what in ["fishline", "stock", "substock", "room", "rack", "position"] %}
            <li><a href="/{{ what }}s">{{ what }}s</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}