html {
    font-size: 90%
}

.btn .icon {
    width: 1em;
    display: inline-block;
}

.helptext {
    font-style: italic;
    color: #555;
}

.errorlist {
    margin: 0.5rem 0 0 0;
    color: maroon;
}